@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Sarpanch&family=Angkor&family=Adamina&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    box-sizing: border-box;
}
h1,p{
    margin:0px;
}
body {
    margin: 0px;
}
.nodisplay{
    display: none;
}
.mainContainer{
    background-color:#FFF8F8;
    width:100%;
    height: 100%;
}
.navMainCon{
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}
.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:100%;
    padding:0px 20px;
    border-bottom: 1px solid #4E4B4B;
    background-color:#FFF8F8;
    position: sticky;
    top: 0px;
}
.navLinksCon{
    display: none;
}
.navlinkSmallCon {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width:100%;
    border-bottom: 1px solid #e7e5ea;
}
.logo{
    width:10%;
    padding:0px;
    margin:0px;
    font-family: "Caveat";
    font-size:40px;
    color: #000000;
    border:none;
    background-color: transparent;
}
.spanU{
    font-size: 50px;
    font-family: "Monoton";
    color:#840A0A;
}
.smallLink{
    font-size: 22px;
    padding: 10px;
    padding-right: 20px;
    font-family: "Bree Serif";
    color:black;
    text-decoration: none;
    border-bottom: 1px solid #e7e5ea;
    width:100%;
    text-align: end;
}
.smallsigninBtn{
    font-size: 22px;
    font-family: "Bree Serif";
    text-decoration: none;
    color:#0C93CC;
    border:3px solid #0C93CC;
    border-radius: 10px;
    padding:2px 10px;
    margin:10px;
    margin-right: 20px;
    background-color: transparent;
    
}
.smallsignupBtn{
    font-size: 22px;
    font-family: "Bree Serif";
    text-decoration: none;
    color:#F9470F;
    border:3px solid #F9470F;
    border-radius: 10px;
    padding:2px 10px;
    margin:10px;
    margin-right: 20px;
    background-color: transparent;
}
.navlinkBtn {
    text-decoration: none;
    color: #594d6d;
    margin-left: 20px;
    font-size: 22px;
    font-weight: bold;
    font-family: "Open Sans";
    border:1px solid black;
    padding:1px 5px;
    border-radius: 5px;
}
.link:hover,.smallLink:hover,.signinBtn1:hover,.signupBtn1:hover,.signupbutton:hover{
    text-decoration: underline;
}
.con1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:100%;
}
.subCon1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
    width:100%;
}
.subCon2{
    display: none;
}
.heading1{
    font-size: 70px;
    color:#F51010 ;
    font-family: "Bree Serif" ;
    margin:5px 0px;
}
.des1{
    font-size: 36px ;
    color:#433E3E ;
    font-family: "Bree Serif" ;
    font-weight: lighter;
    margin:5px 0px;
}
.con2{
    padding:60px 20px;
}
.heading2{
    font-size: 50px;
    color:#F51010 ;
    font-family: "Bree Serif" ;
    margin:0px;
    font-weight: lighter;
}
.jobsCon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding:30px 0px;
}
.jobCon{
    display: flex;
    flex-direction: column;
    width:47%;
    border: 1px solid #b9b5b5;
    border-radius: 10px;
    padding:10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 30px;
}
.jobCon:hover{
    border:2px solid #e8aba5;
    background-color: #e8aba5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.15, 1.15);
}
.job{
    margin:0px;
    margin-bottom: 5px;
    font-size: 18px;
    font-family: "Bree serif";
}
.number{
    margin:0px;
    font-size: 16px;
    color:#696968;
    font-family: "Bree serif";
}
.con3{
    padding:20px;
    padding-bottom: 50px;
}
.successCon{
    background-image: linear-gradient(to bottom ,transparent,#dfdada,#C44235,#EA2525);
    height:380px;
    padding:0px 40px;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 30px;
    
}
.successCon:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}
.successHeading{
    font-size: 80px;
    margin:0px;
    font-family: "Sarpanch";
}
.success{
    margin:0px;
    margin-bottom: 20px;
    font-size: 38px;
    color:#0b0b0b;
    font-family: "Bree serif";   
}
.successHeading:hover{
    transform: scale(1.15, 1.15);
    text-shadow: 2px 2px 4px #000000;
}
footer{
    background-color: #DBCECE;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding:20px;
}
.footerCon1{
    width:45%;
}
.address{
    margin:0px;
    font-size:18px;
    font-family: "Bree serif";
}
.footerCon2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width:50%;
    margin-top: 5px;
}
.footerIconCon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:100%;
    margin-top:30px;
}
.footerLink{
    font-size: 20px;
    font-family: "Bree Serif";
    color:black;
    text-decoration: none;
    margin-bottom:10px;
}
.footerLink:hover{
    text-decoration: underline;
}
.icons{
    height:50px;
    width:50px;
}
.icons:hover{
    transform: scale(1.15, 1.15);
}
.copyright{
    margin:0px;
    text-align: center;
    padding:10px 0px;
    font-family: "Roboto";
}
.signupCon{
    display: flex;
    flex-direction:column;
    width:100%;
    padding: 30px 5px;

}
.signupsubCon{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.resumeCon{
    display: flex;
    flex-direction: column;
    width:47%;
}
.resumeH{
    font-size:18px;
    font-family: "Adamina";
    margin:0px;
    margin-bottom: 5px;

}
.resumeFile{
    width:100%;
    border:1px solid #807D7D;
    border-left-color: #F9470F;
    border-radius: 30px;
    margin:0px;
    color:#807D7D;
    font-size: 12px;
    padding:5px 5px 5px 0px;
}
.resumeChoose{
    color:#ffffff;
    background-color: #F9470F;
    border:2px solid #F9470F;
    font-size: 10px;
    padding:5px;
    border-radius: 30px;
    margin-right:5px;
}
.resumeDesc{
    font-size: 10px;
    margin:5px;
}
.regH{
    font-size: 16px;
    margin:0px;
}
.signinBtn1{
    font-size: 16px;
    font-family: "Bree Serif";
    text-decoration: none;
    color:#0C93CC;
    border:1px solid #0C93CC;
    border-radius: 5px;
    padding:2px 5px;
    background-color: transparent;
}
.signupsubCon1{
    display: flex;
    flex-direction: column;
    width:47%;
}
.signinbtnCon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:47%;
}
.terms{
    font-size: 10px;
    margin: 0px;
    margin-bottom: 5px;
}

.signupbutton{
    width:100%;
    border-radius: 5px;
    font-size: 30px;
    background-color:transparent;
    font-family: "Adamina";
    color:#F9470F;
    border:2px solid #F9470F;
    padding:8px 0px;
}
.labelH{
    font-family: "Roboto";
    font-size: 16px;
}
.textInput{
    width:100%;
    border-radius: 5px;
    font-size: 14px;
    padding:5px;
    border:1px solid #807D7D;
    resize: none;
}
.emailInput{
    width:100%;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
    border:1px solid #807D7D;

}
.emailInput::placeholder{
    font-size: 12px;
}
.signupBtn1{
    font-size: 16px;
    font-family: "Bree Serif";
    text-decoration: none;
    color:#F9470F;
    border:1px solid #F9470F;
    border-radius: 5px;
    padding:2px;
    background-color: transparent;
}
.signupButtonCon{
    display: flex;
    flex-direction: column;
}
.signincon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    padding: 30px 5px;
}
.hrline{
    height:1px;
    width:100%;
    margin:0px;
    opacity: 0.3;
}
.signincon1{
    display: none;
}
.signincon2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:100%;
    border:1px solid #807D7D;
    border-radius: 15px;
}
.signinbottomcon{
    padding:30px 0px;
}
.signinHeading{
    font-family: "Adamina";
    font-size: 30px;
    margin:10px 0px;
    align-self: flex-start;
}
.signinInputCon{
    width:100%; 
    margin:10px 0px;
}
.signinbutton{
    width:100%;
    border-radius: 5px;
    font-size: 20px;
    background-color: #0C93CC;
    font-family: "Adamina";
    color:#ffffff;
    border:none;
    padding:8px 0px;
}
.orCon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
    margin:10px 0px;
}
.or{
    font-size: 26px;
    width:20%;
    margin:0px;
    text-align: center;
}
.or1{
    color:#ffffff;
}
.googleLogo{
    height:30px;
    width:30px;
    margin:0px 20px;
}
.googleCon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
    background-color: #FFFAFA;
    border:1px solid #807D7D;
    border-radius: 5px;
    padding:10px;
    margin-bottom: 10px;
}
.signinGoogle{
    font-size: 20px;
    margin:0px;
    font-family: "Adamina";
    color:#2D2B2B;
}
.newConTop{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to bottom ,#e5dddd,#342b2b);
    width:100%;
    padding: 30px 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.newH{
    color:#ffffff;
    margin:0px;
    font-size:45px;
    font-family: "Angkor";
    line-height: 1cm;
    text-shadow: 0 0 3px #000000;
}
.newLogo,.newU{
    color:#ffffff;
    text-shadow: 0 0 3px #000000;
}
.ques{
    color:white;
    font-size: 150px;
    line-height: 0%;
    margin:0px 20px;
    margin-bottom: 20px;
    font-family: "Roboto";
    text-shadow: 0 0 3px #000000;
}
.signupbutton{
    width:30%;
    border-radius: 5px;
    font-size: 18px;
    background-color:transparent;
    font-family: "Adamina";
    color:#F9470F;
    border:2px solid #F9470F;
    padding:5px 0px;
    margin:10px;
}

.searchMainCon{
    display: flex;
    flex-direction: column;
    padding:30px 5px;
}
.searchcon1{
    display: flex;
    flex-direction: column;
    width:100%;
}
.searchcon2{
    order:-1;
    display: flex;
    flex-direction: column;
    width:100%;
    height:50vh;
    overflow-y: auto;
    border:1px solid #807D7D;
    border-radius: 10px;
    margin-bottom: 20px;
}
.searchTopCon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:100%;
}
.searchInput{
    width:35%;
}
.searchBtn{
    font-size: 20px;
    border-radius: 5px;
    border:none;
    background-color: #696968;
    color:#ffffff;
    font-family: "Adamina";
    padding:2px 15px;
}
.candidateCon{
    display: flex;
    flex-direction: column;
    width:100%;
    border:1px solid #807D7D;
    border-radius:10px;
    padding:20px;
    margin:20px 0px;
}
.candidatecon1{
    display: flex;
    flex-direction: column;
    width:100%;
}
.candidateImagecon{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom:10px;
}
.candidateImage{
    height:80px;
    width:80px;
    border-radius: 100px;
}
.candidateNamecon{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.candidateName{
    font-family: "Bree Serif";
    font-size: 20px;
    margin-bottom: 5px;
}
.candidateDetailHead{
    font-family: "Bree Serif";
    font-size: 14px;
    margin-bottom: 5px;
}
.summary{
    color:#616060;
    font-size: 12px;
    font-family: "Adamina";
}
.candidateDesc{
    font-family: "Bree Serif";
    font-size: 16px;
    margin-bottom: 2px;
    color:#625F5F;
}
.candidateDetailCon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin:10px 0px;
}
.detailCon{
    display: flex;
    flex-direction: column;
    width:50%;
    margin:10px 0px;
}
.candidatecon2{
    display: flex;
    flex-direction: column;
    width:100%;
}
.candidatebtncon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.laterBtn{
    padding:10px 15px;
    line-height: 1ch;
    font-size: 20px;
}
.resume{
   display: none;
}
.resume:hover{
    opacity: 0.9;
    cursor: zoom-in;
}

.shortHeading{
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    font-family: "Bree Serif";
    color:#EA2525;
    margin:10px;
}
.rank{
    font-size: 10px;
    text-align: center;
    font-family: "Roboto";
}
.rankC{
    font-size:12px;
    text-align: center;
    font-family: "Roboto";
}
@media screen and (min-width:768px){
    .subCon1{
        padding:140px 40px;
    }
    .heading1{
        font-size: 80px;
    }
    .des1{
        font-size: 42px ;
    }
    .con2{
        padding:40px;
    }
    .heading2{
        font-size: 60px;
    }
    .jobCon{
        width:31%;
        padding:10px;
        margin-bottom: 30px;
    }
    .job{
        font-size: 20px;
    }
    .number{
        font-size: 18px;
    }
    .con3{
        padding:40px;
    }
    .successCon{
        width:48%;
    }
    .successHeading{
        font-size: 80px;
    }
    .success{
        margin:0px;
        margin-bottom: 30px;
        font-size: 26px;  
    }
    .footerCon1{
        width:35%;
    }
    .address{
        font-size:20px;
    }
    .footerCon2{
        width:60%;
    }
    .footerLink{
        margin:10px 0px;
    }
    .signincon{
        justify-content: space-between;
        width:100%;
        padding: 30px 10px;
    }
    .signincon1{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-image: url("./images/image2.jpg");
        width:49%;
        height:80vh;
        background-size: cover;
        border-radius: 15px;
        padding:50px 20px;
    }
    .newCon{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 30px;
    }
    .newCon1{
        width:60%;  
    }
    .signincon2{
        justify-content: flex-end;
        width:49%;
        height:80vh;
        padding:50px 20px;
    }
    .signinbottomcon{
        padding:0px;
    }
    .signinHeading{
        font-size: 36px;
        margin:20px 0px;
    }
    .signinInputCon{
        margin:20px 0px;
    }
    .labelH{
        font-size: 22px;
    }
    .emailInput{
        font-size: 18px;
        padding: 8px;
    }
    .emailInput::placeholder{
        font-size: 16px;
    }
    .signinbutton{
        font-size: 26px;
    }
    .orCon{
        margin:20px 0px;
    }
    .or{
        font-size: 30px;
    }
    .googleLogo{
        height:32px;
        width:32px;
    }
    .signinGoogle{
        font-size: 22px;
    }
    .signupbutton1{
        width:100%;
        border-radius: 5px;
        font-size: 26px;
        background-color:transparent;
        font-family: "Adamina";
        color:#F9470F;
        border:2px solid #F9470F;
        padding:8px 0px;
    }
    .signupbutton,.newConTop,.hrline{
        display: none;
    }
    .signupCon{
        padding: 30px 15px;
    
    }
    .resumeH{
        font-size:20px;
        margin-bottom: 10px;
    
    }
    .resumeFile{
        font-size: 18px;
        padding:10px 5px 10px 0px;
    }
    .resumeChoose{
        font-size: 16px;
        padding:10px 20px;
        border-radius: 30px;
        margin-right:20px;
    }
    .resumeDesc{
        font-size: 14px;
    }
    .regH{
        font-size: 24px;
        margin:0px;
    }
    .signinBtn1{
        font-size: 20px;
        padding:5px 15px;
    }
    .signinbtnCon{
        justify-content: space-between;
    }
    .terms{
        font-size: 14px;
        margin: 0px;
        margin-bottom: 10px;
    }
    .textInput{
        font-size: 16px;
        padding:10px;
    }
    .signupBtn1{
        font-size: 18px;
        padding:5px;
    }
    .searchMainCon{
        padding:30px 15px;
    }
    .searchcon2{
        margin-bottom: 30px;
    }
    .searchBtn{
        padding:6px 20px;
    }
    .candidateCon{
        flex-direction: row;
        justify-content: space-between;
        padding:20px;
        width:100%;
    }
    .candidatecon1{
        width:60%;
    }
    .candidateImagecon{
        margin-bottom:20px;
    }
    .candidateImage{
        height:100px;
        width:100px;
    }
    .candidateNamecon{
        margin-left: 30px;
    }
    .candidateName{
        font-size: 24px;
    }
    .candidateDetailHead{
        font-size: 20px;;
    }
    .summary{
        font-size: 16px;
    }
    .candidateDesc{
        font-size: 18px;
    }
    .candidateDetailCon{
        margin:15px 0px;
    }
    .candidatecon2{
        display: flex;
        flex-direction: column;
        width:35%;
    }
    .laterBtn{
        padding:10px 15px;
        line-height: 1ch;
        font-size: 22px;
    }
    .resume{
       display: block;
       height:350px;
       width:100%;
       border-radius: 5px;
       border:1px solid #807D7D;
       margin-top:20px;
    }
    .shortHeading{
        font-size: 34px;
        margin:20px;
    }
    .rank{
        font-size: 14px;
    }
    .rankC{
        font-size:18px;
    }

}

@media screen and (min-width:992px){
.navlinkBtn{
    display: none;
}
.logo{
    width:10%;
    font-size:60px;
}
.spanU{
    font-size: 70px;
}
.navLinksCon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:70%;
    margin-right: 20px;
    
}
.link{
    font-size: 30px;
    font-family: "Bree Serif";
    color:black;
    text-decoration: none;
}
.signinBtn{
    font-size: 30px;
    font-family: "Bree Serif";
    text-decoration: none;
    color:#0C93CC;
    border:3px solid #0C93CC;
    border-radius: 10px;
    padding:5px 15px;
    background-color: transparent;
}
.signupBtn{
    font-size: 30px;
    font-family: "Bree Serif";
    text-decoration: none;
    color:#F9470F;
    border:3px solid #F9470F;
    border-radius: 10px;
    padding:5px 15px;
    background-color: transparent;
}
.subCon1{
    padding: 0px;
    padding-left:60px;
    width:45%;
}
.subCon2{
    display: block;
    width:52%;
}
.heading1{
    font-size: 55px;
    margin:5px 0px;
}
.des1{
    font-size: 28px ;
    margin:5px 0px;
}
.image1{
    height:75vh;
    width:100%;
    border-bottom-left-radius: 50px;
}
.con2{
    padding:60px;
}
.heading2{
    font-size: 60px;
    margin:5px 0px;
}
.jobsCon{
    padding:50px 0px;
}
.jobCon{
    width:31%;
    padding:20px;
    margin-bottom: 30px;
}
.job{
    font-size: 24px;
}
.number{
    font-size: 20px;
}
.con3{
    padding:60px;
}
.successCon{
    width:32%;
}
.successHeading{
    font-size: 70px;
}
.success{
    margin:0px;
    margin-bottom: 20px;
    font-size: 30px;   
}
.footer{
    padding:10px 60px;
}
.address{
    font-size:20px;
}
.footerCon1{
    width:20%;
}
.footerCon2{
    width:30%;
    margin-top:10px;
}
.footerIconCon{
    width:35%;
    margin-top:10px;
}
.footerLink{
    font-size: 22px;
    margin:0px;
    margin-bottom:10px;
}
.signincon{
    padding: 30px;
}
.signinHeading{
    font-size: 36px;
    margin-top:0px;
}
.labelH{
    font-size: 24px;
}
.emailInput{
    font-size: 20px;
    padding: 10px;
}
.emailInput::placeholder{
    font-size: 18px;
}
.signinbutton,.signupbutton1{
    font-size: 26px;
}
.orCon{
    margin:20px 0px;
}
.or{
    font-size: 32px;
}
.googleLogo{
    height:35px;
    width:35px;
}
.signinGoogle{
    font-size: 22px;
}
.signupCon{
    padding: 30px;
}
.resumeH{
    font-size:24px;
}
.resumeFile{
    font-size: 20px;
}
.resumeChoose{
    font-size: 18px;
    padding:10px 30px;
}
.regH{
    font-size: 30px;
}
.signinBtn1{
    font-size: 24px;
    padding:7px 25px;
}
.terms{
    font-size: 16px;
}
.textInput{
    font-size: 18px;
}
.signupBtn1{
    font-size: 20px;
    padding:7px;
}
.searchMainCon{
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    padding:30px;
}
.searchcon1{
    width:55%;
}
.searchcon2{
    order:1;
    height:80vh;
    width:42%;
    margin-bottom: 30px;
}
.searchBtn{
    font-size: 24px;
    padding:6px 20px;
}
.candidateCon{
    flex-direction: row;
    justify-content: space-between;
    padding:20px;
    width:100%;
}
.candidatecon1{
    width:62%;
}
.candidateImagecon{
    margin-bottom:20px;
}
.candidateImage{
    height:70px;
    width:70px;
}
.candidateNamecon{
    margin-left: 10px;
}
.candidateName{
    font-size: 20px;
}
.candidateDetailHead{
    font-size: 16px;;
}
.summary{
    font-size: 12px;
}
.candidateDesc{
    font-size: 14px;
}
.candidatecon2{
    width:35%;
}
.laterBtn{
    padding:5px 10px;
    font-size: 18px;
}
.resume{
   display: block;
   height:300px;
   width:100%;
   border-radius: 5px;
   border:1px solid #807D7D;
   margin-top:20px;
}
.shortHeading{
    font-size: 30px;
    margin:20px;
}
.rank{
    font-size: 12px;
}
.rankC{
    font-size:14px;
}
}
@media screen and (min-width:1200px){
    .navLinksCon{
        width:60%;
    }
    .heading1{
        font-size: 65px;
    }
    .des1{
        font-size: 34px ;
    }
    .jobCon{
        width:23%;
    }
    .job{
        font-size: 22px;
    }
    .number{
        font-size: 18px;
    }
    .successCon{
        width:32%;
    }
    .successHeading{
        font-size: 80px;
    }
    .footerCon2{
        width:35%;
        margin-top:20px;
    }
    .footerIconCon{
        width:35%;
        margin-top:20px;
    }
    .signincon,.signupCon,.searchMainCon{
        padding: 60px;
    }

    .signincon1,.signincon2{
        width:45%;
    }
    .searchcon1{
        width:55%;
    }
    .candidateCon{
        padding:30px;
    }
    .candidateImage{
        height:80px;
        width:80px;
    }
    .candidateNamecon{
        margin-left: 20px;
    }
    .candidateName{
        font-size: 24px;
    }
    .candidateDetailHead{
        font-size: 18px;
    }
    .summary{
        font-size: 14px;
    }
    .candidateDesc{
        font-size: 16px;
    }
    .candidatecon2{
        width:38%;
    }
    .laterBtn{
        padding:10px ;
        font-size: 20px;
    }
    .resume{
       height:330px;
    }
    .shortHeading{
        font-size: 30px;
        margin:20px;
    }
    .rank{
        font-size: 12px;
    }
    .rankC{
        font-size:14px;
    }
}

@media screen and (min-width:1400px){
    .signincon,.signupCon,.searchMainCon{
        padding: 60px 100px;
    }
    .terms{
        font-size: 18px;
        margin-top:20px;
    }
    .successCon{
        width:27%;
    }
}